@import '../../stylesheets/base';

.link{
  color:white !important;
  font-size: .7rem !important;
  padding-right: .4rem !important;
  padding-left: .4rem !important;
  min-width: inherit !important;
}

.menuLinks{
  width:100%;
}

.settings{
  position:absolute !important;
  bottom:0%;
  width:100%;
}
