.formControl{
  width:200px;
}

.card:hover{
  cursor:pointer;
}

.cardHeader{
  text-align: center;
  color: white !important;
}

.cardContent{
  text-align: center;
  height:85px;
}

.chip{
  font-size:.6rem !important;
  margin: 3px;
  padding: 12px 0px !important;
  height:28px !important;
}

.drawerHeader{
  width:400px;
  margin:20px;
}

.drawerContent{
  width:400px;
}

.skillInfo{
  margin-left: 40px;
  margin-top:10px;
}

.listItem{

}
