$dark-blue  :   #0069c0;
$light-blue :   #2196f3;
$green      :   #00e676;
$red        :   #d50000;
$white      :   #ffffff;

$primary    :   #2196f3;
$secondary  :   #00e676;
$error      :   #d50000;

$background :   #F2F2F2;
$mediumGray :   #979797;
