.card{

}

.cardContent{
  color:white !important;
  text-align: center;
  height:200px;
}

.cardContentContent{
  color: white !important;
}

.linkIcon{
  margin:auto;
  display:block;
}

.cardLinks{
  text-align: center;
}

.cardLinks:hover{
  color:#0d47a1;
}
